# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/

# Embeddings cache
.cache/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml

#additional feature
app.py
evals.py